{% extends "page.html" %}

{% block styles %}
  {{ super() }}

  <link href="{{STATIC_URL}}css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
  <link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet" type="text/css">

{% endblock %}

{% block subtitle %}Pico CKAN{% endblock %}


{% block primary_content %}


   <div class="span4">
      <form method="post" action="/">

        {% csrf_token %}
        <input name="title" type="text" placeholder="Title">
        <input name="url" type="text" placeholder="Url">
        <textarea name="notes" placeholder="Notes" rows=5 cols=50 required></textarea>
        <button type="submit" class="btn">Submit</button>
      </form>
  </div>


{% endblock %}


