{% extends "page.html" %}
{% block styles %}
  {{ super() }}

  <link href="{{STATIC_URL}}css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
  <link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet" type="text/css">

{% endblock %}

{% block subtitle %}Pico CKAN{% endblock %}


{% block primary_content %}



     <div class="span4">

   <form method="post" action="/delete/">
      {% csrf_token %}
      <input type="hidden" name="id" value="{{id}}">
      <p>Are you sure you want to delete this dataset?</p>
      <input type="submit" value="Delete" class="btn">
    </form>

   </div>

{% endblock %}


