<!DOCTYPE html>
<html>
  <head>
    <link href="{{STATIC_URL}}css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
    <link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="{{STATIC_URL}}css/ckan.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery.autocomplete.css" media="screen" />


    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>

<script src="http://code.jquery.com/jquery-latest.js"></script>


<!-- solr ajax -->

<script type="text/javascript" src="{{STATIC_URL}}js/ajax-solr/ckan-ajax-solr.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}js/ajax-solr/core/Core.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/ajax-solr/core/AbstractManager.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/ajax-solr/managers/Manager.jquery.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}js/ajax-solr/core/Parameter.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/ajax-solr/core/ParameterStore.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}js/ajax-solr/core/AbstractWidget.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/ajax-solr/widgets/ResultWidget.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}js/ajax-solr/ckan-ajax-solr.theme.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}js/ajax-solr/helpers/jquery/ajaxsolr.theme.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}js/ajax-solr/jquery.livequery.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}js/ajax-solr/widgets/jquery/PagerWidget.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}js/ajax-solr/core/AbstractFacetWidget.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}js/ajax-solr/core/AbstractTextWidget.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}js/ajax-solr/widgets/TagcloudWidget.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}js/ajax-solr/jquery.autocomplete.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/ajax-solr/widgets/AutocompleteWidget.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/ajax-solr/widgets/CurrentSearchWidget.js"></script>


  </head>
  <body>


<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Pico CKAN</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/add">New Dataset</a></li>
           </ul>
        <ul id="search" class="navbar-form pull-right">
        <input class="span2" type="text" id="query" name="query" autocomplete="off" class="ac_input" placeholder='Search' style="width:190px">
<button class="btn-search" type="submit" style="
vertical-align: text-bottom;
background-image: url(/static/img/sprite-ckan-icons.png);
background-repeat: no-repeat;
background-position: -51px -16px;
position: absolute;
display: block;
height: 17px;
width: 17px;
top: 50%;
right: 6px;
margin-top: 13px;
background-color: transparent;
border: none;
text-indent: -999em;
">Search</button>

      </ul>

          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>






<div role="main">

<div class="container">
<ul id="selection"></ul>


<aside class="secondary">
  <section class="module module-narrow module-shallow">




  </section>
</aside>


