<!DOCTYPE html>
<html>
  <head>
    <link href="{{STATIC_URL}}css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
    <link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="{{STATIC_URL}}css/ckan.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery.autocomplete.css" media="screen" />


    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>

<script src="http://code.jquery.com/jquery-latest.js"></script>


<!-- solr ajax -->

<script type="text/javascript" src="{{STATIC_URL}}js/ajax-solr/ckan-ajax-solr.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}js/ajax-solr/core/Core.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/ajax-solr/core/AbstractManager.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/ajax-solr/managers/Manager.jquery.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}js/ajax-solr/core/Parameter.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/ajax-solr/core/ParameterStore.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}js/ajax-solr/core/AbstractWidget.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/ajax-solr/widgets/ResultWidget.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}js/ajax-solr/ckan-ajax-solr.theme.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}js/ajax-solr/helpers/jquery/ajaxsolr.theme.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}js/ajax-solr/jquery.livequery.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}js/ajax-solr/widgets/jquery/PagerWidget.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}js/ajax-solr/core/AbstractFacetWidget.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}js/ajax-solr/core/AbstractTextWidget.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}js/ajax-solr/widgets/TagcloudWidget.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}js/ajax-solr/jquery.autocomplete.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/ajax-solr/widgets/AutocompleteWidget.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/ajax-solr/widgets/CurrentSearchWidget.js"></script>


