{% extends "page.html" %}
{% block styles %}
  {{ super() }}

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="stylesheet" href="{{STATIC_URL}}recline/vendor/bootstrap/2.0.2/css/bootstrap.css" />

  <link rel="stylesheet" href="{{STATIC_URL}}recline/vendor/leaflet/0.4.4/leaflet.css">
  <!--[if lte IE 8]>
  <link rel="stylesheet" href="{{STATIC_URL}}recline/vendor/leaflet/0.4.4/leaflet.ie.css" />
  <![endif]-->
  <link rel="stylesheet" href="{{STATIC_URL}}recline/vendor/leaflet.markercluster/MarkerCluster.css">
  <link rel="stylesheet" href="{{STATIC_URL}}recline/vendor/leaflet.markercluster/MarkerCluster.Default.css">
  <!--[if lte IE 8]>
  <link rel="stylesheet" href="{{STATIC_URL}}recline/vendor/leaflet.markercluster/MarkerCluster.Default.ie.css" />
  <![endif]-->
  <link rel="stylesheet" href="{{STATIC_URL}}recline/vendor/slickgrid/2.0.1/slick.grid.css">
  <link rel="stylesheet" href="{{STATIC_URL}}recline/vendor/timeline/20120520/css/timeline.css">

  <!-- Recline CSS components -->
  <link rel="stylesheet" href="{{STATIC_URL}}recline/css/grid.css">
  <link rel="stylesheet" href="{{STATIC_URL}}recline/css/slickgrid.css">
  <link rel="stylesheet" href="{{STATIC_URL}}recline/css/graph.css">
  <link rel="stylesheet" href="{{STATIC_URL}}recline/css/transform.css">
  <link rel="stylesheet" href="{{STATIC_URL}}recline/css/map.css">
  <link rel="stylesheet" href="{{STATIC_URL}}recline/css/multiview.css">
  <!-- /Recline CSS components -->

{% endblock %}

{% block subtitle %}"Search for a Dataset"{% endblock %}
{% block maintag %}


<div class="container">
  <style type="text/css">
.recline-slickgrid {
  height: 550px;
}

.recline-timeline .vmm-timeline {
  height: 550px;
}
</style>

<div class="recline-container"></div>

<div style="clear: both;"></div>



</div>

{% endblock %}



{%- block scripts %}


<!-- RECLINE -->

  <!-- 3rd party JS libraries -->
  <script type="text/javascript" src="{{STATIC_URL}}recline/vendor/jquery/1.7.1/jquery.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}recline/vendor/underscore/1.4.2/underscore.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}recline/vendor/backbone/0.9.2/backbone.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}recline/vendor/mustache/0.5.0-dev/mustache.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}recline/vendor/bootstrap/2.0.2/bootstrap.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}recline/vendor/flotr2/flotr2.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}recline/vendor/leaflet/0.4.4/leaflet.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}recline/vendor/leaflet.markercluster/leaflet.markercluster.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}recline/vendor/slickgrid/2.0.1/jquery-ui-1.8.16.custom.min.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}recline/vendor/slickgrid/2.0.1/jquery.event.drag-2.0.min.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}recline/vendor/slickgrid/2.0.1/slick.grid.min.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}recline/vendor/moment/1.6.2/moment.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}recline/vendor/timeline/20120520/js/timeline.js"></script>
  <!--[if lte IE 7]>
  <script language="javascript" type="text/javascript" src="{{STATIC_URL}}recline/vendor/json/json2.js"></script>
  <![endif]-->

  <!--
    ## Just use the all in one library version rather than individual files

  <script type="text/javascript" src="{{STATIC_URL}}recline/dist/recline.js"></script>

  -->

  <!-- model and backends -->
  <script type="text/javascript" src="{{STATIC_URL}}recline/src/ecma-fixes.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}recline/src/model.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}recline/src/backend.memory.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}recline/src/backend.dataproxy.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}recline/src/backend.gdocs.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}recline/src/backend.elasticsearch.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}recline/src/backend.csv.js"></script>
<!--  <script type="text/javascript" src="{{STATIC_URL}}recline/src/backend.ckan.js"></script> -->
<!--  <script type="text/javascript" src="{{STATIC_URL}}recline/src/backend.solr.js"></script> -->

  <!-- views -->
  <script type="text/javascript" src="{{STATIC_URL}}recline/src/view.grid.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}recline/src/view.slickgrid.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}recline/src/view.transform.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}recline/src/data.transform.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}recline/src/view.graph.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}recline/src/view.map.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}recline/src/view.timeline.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}recline/src/widget.pager.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}recline/src/widget.queryeditor.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}recline/src/widget.filtereditor.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}recline/src/widget.facetviewer.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}recline/src/widget.fields.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}recline/src/view.multiview.js"></script>

  <!-- link rel="stylesheet" href="vendor/bootstrap/2.0.2/css/bootstrap-responsive.css" -->

<!--  <link href="{{STATIC_URL}}recline/css-site/pygments.css" rel="stylesheet" type="text/css" />
  <link href="{{STATIC_URL}}recline/css-site/style.css" rel="stylesheet" type="text/css" /> -->
  
<script type="text/javascript" src="{{STATIC_URL}}recline/app.js"></script>

<!-- END RECLINE -->


{% endblock -%}

